/**
*
* space.css
* @author - Ibrahim
* @date - 17/02/2024
**/

.ml-20 {
    margin-left: 20px;
}

.mt-10{
    margin-top: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.ml-100 {
    margin-left: 100px;
}

.p-20 {
    padding: 13px 40px 13px 40px;
}

.ml-15 {
    margin-left: 15px;
}

.mr-10 {
    margin-right: 20px;
}

.p-10 {
    padding: 8px 80px 8px 8px ;
}

.mt-50 {
    margin-top: 50px;
}

.ml-75 {
   margin-left: 75px;
}

.ml-60 {
    margin-left: 60px;
}

.ml-28 {
    margin-left: 22px;
}

.mt-70 {
    margin-top: 70px;
}

.ml-5{
    margin-left: 8px;
}

.height {
    height: 200px;
}

.p-5 {
    padding: 8px 0 8px 9px;
}

.ml-40 {
    margin-left: 40px;
}

.mr-100 {
    margin-right: 140px;
}

.mr-60 {
    margin-right: 60px;
}

.ml-180 {
    margin-left: 160px;
}

.mt-30 {
    margin-top: 30px;
}

.ml-135 {
    margin-left: 135px;
}

.ml-8 {
    margin-left: 8px;
}

.p-7 {
    padding: 2px 7px 2px 7px;
}

.p-2 {
    padding: 1px 4px 1px 4px;
}

.mt-20 {
    margin-top: 15px;
}